.btn_pay {
    background-color: #635BFF;
}
  
.btn_pay {
background: #635BFF;
border-radius: 3px;
color: white;
border: 0;
padding: 12px 16px;
margin-top: 16px;
font-weight: 600;
cursor: pointer;
transition: all 0.2s ease;
display: block;
}

#payment-form{
    width: 100%;
    max-width: 500px;
}